{{- /*
  Returns one entry per configured language for the language switchers:
    dict "name" "label" "locale" "href" "current"
  "href" points to the translation of the current page when it exists,
  otherwise to that language's home page.
*/ -}}
{{- $page := . -}}
{{- $links := dict -}}
{{- range $page.AllTranslations -}}
  {{- $links = merge $links (dict .Language.Name .RelPermalink) -}}
{{- end -}}
{{- $out := slice -}}
{{- range site.Languages -}}
  {{- $href := index $links .Name | default (printf "%s/" .Name | relURL) -}}
  {{- $out = $out | append (dict "name" .Name "label" .Label "locale" .Locale "href" $href "current" (eq .Name site.Language.Name)) -}}
{{- end -}}
{{- return $out -}}
